.outer-box {
  max-width: 100%;
  min-height: 280px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 0px 67px 6px rgba(137, 69, 236, 0.17);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 1rem;
  /* height: 280px; */
}
.inner-box {
  max-width: 100%;
  /* height: 247.38px; */
  background: linear-gradient(
    320.28deg,
    #8945ec 4.54%,
    rgba(137, 69, 236, 0.5) 113.11%
  );
  flex-grow: 1;
  border-radius: 45px;
}
